* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: #263136;
}
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@500&family=Open+Sans&family=Varela+Round&display=swap");

.imgc {
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.content-pllx {
  width: 100%;
  height: 100vh;
  background-image: url("../images/prog/AdobeStock_294794307.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.content-pllx2 {
  width: 100%;
  height: 100vh;
  background-image: url("../images/prog/profinal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: inline-block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cont-text {
  background: black;
  padding: 18px;
  width: 600px;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  opacity: 70%;
}
h2 {
  font-size: 32px;
  font-weight: 200;
}
.center-pllx {
  max-width: 1100px;
  width: 90%;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.esp-pllx {
  padding: 10px 0 30px 0;
  overflow: hidden;
}

.esp-pllx h2 {
  text-align: center;
  padding: 10px;
}
.esp-pllx p {
  text-align: justify;
}

.small-pllx {
  height: 450px;
  background-image: url("../images/prog/nube.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  align-items: center;
}
.small-pllx h2 {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  color: rgb(8, 7, 7);
  font-weight: 400;
}

.small-pllx2 {
  height: 450px;
  background-image: url("../images/prog/top-lenguajes-programacion-2021.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  align-items: center;
}
.small-pllx2 h2 {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  color: rgb(8, 7, 7);
  font-weight: 400;
}
.small-pllx3 {
  height: 450px;
  background-image: url("../images/prog/coding.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  align-items: center;
}
.small-pllx3 h2 {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  color: rgb(8, 7, 7);
  font-weight: 400;
}

.text-pllx {
  background-color: #263136;
  height: 190px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid rgb(54, 52, 52);
  font-family: "Source Code Pro", monospace;
}
.text-pllx h2 {
  text-align: center;
  color: #000;
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 50px;
  color: #56baed;
}

.imgif {
  width: 170px;
  height: 170px;
  overflow: hidden;
}
.pllx-gif {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.logov {
  overflow: hidden;
}

.logov img {
  display: block;
  overflow: hidden;
  animation: latir infinite 5s linear;
}

@keyframes latir {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.02, 1.02);
  }

  55% {
    transform: scale(0.95, 0.95);
  }

  100% {
    transform: scale(1, 1);
  }
}

.App-logor {
  pointer-events: none;
  overflow: hidden;
  object-fit: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logor {
    animation: App-logo-spin infinite 8s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logor {
  overflow: hidden;
}
/*text slidersmall */
.bg-6 {
  background-color: #263136;
  display: flex;
}

.glitch {
  color: white;
  font-size: 50px;
  position: relative;
  width: 250px;
  margin: 0 auto;
  font-family: "Source Code Pro", monospace;
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 8px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: #263136;
  overflow: hidden;
  clip: rect(0, 500px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: 4px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: #263136;
  overflow: hidden;
  clip: rect(0, 500px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip: rect(51px, 9999px, 28px, 0);
  }
  5% {
    clip: rect(70px, 9999px, 19px, 0);
  }
  10% {
    clip: rect(92px, 9999px, 13px, 0);
  }
  15% {
    clip: rect(85px, 9999px, 49px, 0);
  }
  20% {
    clip: rect(45px, 9999px, 56px, 0);
  }
  25% {
    clip: rect(26px, 9999px, 31px, 0);
  }
  30% {
    clip: rect(62px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(34px, 9999px, 11px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 61px, 0);
  }
  45% {
    clip: rect(34px, 9999px, 71px, 0);
  }
  50% {
    clip: rect(35px, 9999px, 69px, 0);
  }
  55% {
    clip: rect(92px, 9999px, 81px, 0);
  }
  60% {
    clip: rect(26px, 9999px, 85px, 0);
  }
  65% {
    clip: rect(2px, 9999px, 68px, 0);
  }
  70% {
    clip: rect(54px, 9999px, 79px, 0);
  }
  75% {
    clip: rect(35px, 9999px, 85px, 0);
  }
  80% {
    clip: rect(70px, 9999px, 60px, 0);
  }
  85% {
    clip: rect(32px, 9999px, 26px, 0);
  }
  90% {
    clip: rect(94px, 9999px, 53px, 0);
  }
  95% {
    clip: rect(99px, 9999px, 92px, 0);
  }
  100% {
    clip: rect(42px, 9999px, 27px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(21px, 9999px, 49px, 0);
  }
  5% {
    clip: rect(27px, 9999px, 52px, 0);
  }
  10% {
    clip: rect(21px, 9999px, 70px, 0);
  }
  15% {
    clip: rect(65px, 9999px, 25px, 0);
  }
  20% {
    clip: rect(24px, 9999px, 10px, 0);
  }
  25% {
    clip: rect(61px, 9999px, 64px, 0);
  }
  30% {
    clip: rect(34px, 9999px, 47px, 0);
  }
  35% {
    clip: rect(46px, 9999px, 93px, 0);
  }
  40% {
    clip: rect(46px, 9999px, 9px, 0);
  }
  45% {
    clip: rect(67px, 9999px, 36px, 0);
  }
  50% {
    clip: rect(72px, 9999px, 20px, 0);
  }
  55% {
    clip: rect(79px, 9999px, 26px, 0);
  }
  60% {
    clip: rect(13px, 9999px, 87px, 0);
  }
  65% {
    clip: rect(10px, 9999px, 25px, 0);
  }
  70% {
    clip: rect(85px, 9999px, 11px, 0);
  }
  75% {
    clip: rect(94px, 9999px, 35px, 0);
  }
  80% {
    clip: rect(50px, 9999px, 86px, 0);
  }
  85% {
    clip: rect(74px, 9999px, 67px, 0);
  }
  90% {
    clip: rect(1px, 9999px, 40px, 0);
  }
  95% {
    clip: rect(3px, 9999px, 48px, 0);
  }
  100% {
    clip: rect(90px, 9999px, 23px, 0);
  }
}

.ajust {
  margin-left: -50px;
}

.codeimg {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 20px;
}


.text-nav {
  font-size: 25px;
  color: #1c2baf;
  -webkit-text-stroke: 2px #ececec;
  font-family: "Gluten", cursive;
  
}
.text-nav1 {
  font-size: 25px;
  color: #1c2baf;
  -webkit-text-stroke: 2px #ececec;
  font-family: "Gluten", cursive;
 
}
.nav-b {
  background: #263136;
}

.Contat-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;

  padding-top: 100px;
}

